.threadsHeader
{
    height: 35px;
}

.threadColumn small
{
    float: left;
}

.threadList {
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 25px;
}

.threadList > div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.threadList > div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.threadList > div:nth-child(odd) {
    background-color: #e0e0e0;
}

.thread
{
    padding: 10px;    
}