.forumContainer {
    margin-top: 20px;
}

.threadsHeader
{
    height: 35px;
}

.threadColumn small
{
    float: left;
}

.threadList {
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
}

.threadList > div {
    margin-left: 0px;
    margin-right: 0px;
}

.threadList > div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.threadList > div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.threadList > div:nth-child(odd) {
    background-color: #e0e0e0;
}

.thread
{
    padding: 10px;    
}

.avatarColumn
{
    min-width: 400px;
}

.avatarPreview
{
    width: 48px;
    height: auto;
}